<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>100</integer>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>width</key>
			<integer>200</integer>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>34</integer>
		</dict>
		<key>idle</key>
		<dict>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>33</integer>
			<key>originalWidth</key>
			<integer>22</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>24</integer>
			<key>y</key>
			<integer>34</integer>
		</dict>
		<key>jump</key>
		<dict>
			<key>height</key>
			<integer>38</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>38</integer>
			<key>originalWidth</key>
			<integer>22</integer>
			<key>width</key>
			<integer>22</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>34</integer>
		</dict>
		<key>punch</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>29</integer>
			<key>width</key>
			<integer>29</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk1</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>160</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk2</key>
		<dict>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>33</integer>
			<key>originalWidth</key>
			<integer>15</integer>
			<key>width</key>
			<integer>15</integer>
			<key>x</key>
			<integer>143</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk3</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>width</key>
			<integer>23</integer>
			<key>x</key>
			<integer>118</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk4</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>width</key>
			<integer>19</integer>
			<key>x</key>
			<integer>97</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk5</key>
		<dict>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>33</integer>
			<key>originalWidth</key>
			<integer>16</integer>
			<key>width</key>
			<integer>16</integer>
			<key>x</key>
			<integer>79</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk6</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>width</key>
			<integer>23</integer>
			<key>x</key>
			<integer>54</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>walk7</key>
		<dict>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>21</integer>
			<key>width</key>
			<integer>21</integer>
			<key>x</key>
			<integer>31</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>100</integer>
		<key>width</key>
		<integer>200</integer>
	</dict>
</dict>
</plist>
